
.icon-about:before { content: '\e800'; } /* '' */
.icon-code:before { content: '\e801'; } /* '' */
.icon-developer-board:before { content: '\e802'; } /* '' */
.icon-gamecontrol:before { content: '\e803'; } /* '' */
.icon-games:before { content: '\e804'; } /* '' */
.icon-language:before { content: '\e805'; } /* '' */
.icon-memory:before { content: '\e806'; } /* '' */
.icon-resume:before { content: '\e807'; } /* '' */
.icon-touchapp:before { content: '\e808'; } /* '' */
.icon-transmedia:before { content: '\e809'; } /* '' */
.icon-web:before { content: '\e80a'; } /* '' */
.icon-globe:before { content: '\e80b'; } /* '' */
.icon-picture:before { content: '\e80c'; } /* '' */
.icon-video:before { content: '\e80d'; } /* '' */
.icon-eye-1:before { content: '\e80e'; } /* '' */
.icon-share:before { content: '\e80f'; } /* '' */
.icon-basket:before { content: '\e810'; } /* '' */
.icon-paper-plane-empty:before { content: '\e811'; } /* '' */
.icon-fighter-jet:before { content: '\e812'; } /* '' */
.icon-suitcase:before { content: '\e813'; } /* '' */
.icon-rocket:before { content: '\e814'; } /* '' */
.icon-coffee:before { content: '\e815'; } /* '' */
.icon-facebook-squared:before { content: '\e816'; } /* '' */
.icon-github-circled:before { content: '\e817'; } /* '' */
.icon-twitter-squared:before { content: '\e818'; } /* '' */
.icon-skype:before { content: '\e819'; } /* '' */
.icon-whatsapp:before { content: '\e81a'; } /* '' */
.icon-menu:before { content: '\e81b'; } /* '' */
.icon-mail-alt:before { content: '\e81c'; } /* '' */
.icon-youtube:before { content: '\e81d'; } /* '' */
.icon-linkedin-squared:before { content: '\e81e'; } /* '' */
.icon-cog-alt:before { content: '\e81f'; } /* '' */
.icon-flag-1:before { content: '\e820'; } /* '' */
.icon-phone-1:before { content: '\e821'; } /* '' */
.icon-megaphone:before { content: '\e822'; } /* '' */
.icon-heart:before { content: '\e823'; } /* '' */
.icon-at:before { content: '\e824'; } /* '' */
.icon-home:before { content: '\e825'; } /* '' */
.icon-pencil-1:before { content: '\e826'; } /* '' */
.icon-circle:before { content: '\e827'; } /* '' */
.icon-wordpress:before { content: '\e828'; } /* '' */
.icon-web-1:before { content: '\e829'; } /* '' */
.icon-pdf:before { content: '\e82a'; } /* '' */
.icon-word:before { content: '\e82b'; } /* '' */
.icon-develop:before { content: '\e82c'; } /* '' */
.icon-theatre:before { content: '\e82d'; } /* '' */
.icon-wanted:before { content: '\e82e'; } /* '' */
.icon-legend:before { content: '\e82f'; } /* '' */